{{ define "main" }}

<h1 class="aboutme-tag">Meet Laura - Personal Organizer</h1>

<section class="about-me">
    <div>
        <img src="/images/LauraTing1.png" alt="Laura Ting portrait">
    </div>
    <div>
        <p>As a professional, Laura knows the challenges of juggling a full life. There are endless invitations,
            opportunities, and responsibilities - both routine and random - that can’t be neglected. Life can be
            filled with mundane tasks unless we preserve time for what means the most to us - whether it is family,
            friends, career, or passion projects. With so many things to juggle, it’s easy to feel out of control.
        </p>
        <p>Laura was organizing her life ever since she was a child. She has always been interested to find ways to
            achieve better order at home and at work. She has handled the overloaded schedule many times, and has
            learned to make time for her favourite activities. She has been successful in her career with a Fortune
            500 organization - requiring an impressive ability to manage information, schedules, set priorities and
            travel efficiently. She has learned a few tricks of the trade and now her colleagues look to her for
            advice on organizing.
        </p>
        <p>When you look at a space, you want things to look nice. It’s easier on the eyes and it puts the mind at
            ease. When you look for a document, it should be easy to find - every time. In your wardrobe, it is such
            a waste to go a whole season and forgot a favourite piece of clothing. When you run errands, you don’t
            want to go back to the grocery store because you forgot to put coffee on the grocery list? It is great
            to have your space and time organized, easy and optimized! We  believe it is important to rest at the
            end of the day feeling clear. Order in our outer world brings clarity in our inner world. It is possible
            to make that happen no matter what is going on in your life. We are so excited to help you achieve this
            peace and clarity through space and time organization with function and style.
        </p>
        <p>
            Learn more about our <a href="../home-organization-services">home organization</a>, <a href="../office-organization-services">office organization</a>
            and <a href="../time-organization-services">time management</a> services. <br>
            Contact us at <a href="mailto:info@organizedvancouver.com">info@organizedvancouver.com</a> today for a complimentary consultation.
        </p>
    </div>
</section>

{{ end }}