<h1 class="homeorg-tag">Home Organizing</h1>

<section class="paralax-image-homeorg">
</section>

<main class="homeorg-main">
    <article>
        <p>
            {{ .Params.description }}
        </p>
        <p>
            We offer in-home organizing services so you can organize your home and life. We can teach you tiny tricks
            and easy habits to help you stay organized - no matter how busy you are. We offer personalized training by
            a professional, who will guide you systematically to create order in your space. Our job is done when your
            home is tidy and when you understand how to maintain the systems that have been designed for you.
        </p>
        <p>
            Where do you want to start?
        </p>
    </article>
</main>
