{{ define "main" }}
<h1 class="homeorg-tag">Home Organization Services</h1>

<section class="paralax-image-homeorg">
</section>

<main class="homeorg-main">
    <article>
        <p>
            Most people appreciate an organized space. But not everyone wants to use their valuable time to create the
            spaces and systems necessary to achieve a space that has space for everything they need, and a map of where
            to find everything. You may feel that you have too much stuff in your home, or you may feel frustrated not
            knowing where to find things, or where to put things.
        </p>
        <p>
            We offer in-home organizing services so you can organize your home and life. We can teach you tiny tricks
            and easy habits to help you stay organized - no matter how busy you are. We offer personalized training by
            a professional, who will guide you systematically to create order in your space. Our job is done when your
            home is tidy and when you understand how to maintain the systems that have been designed for you.
        </p>
        <p>
            Learn more about our office organization and time management services. Contact us at info@organizedvancouver.com
            today for a complimentary consultation.
        </p>
    </article>
</main>
{{ end }}

