{{ define "main" }}

<h1 class="office-tag">Organized Vancouver | Time Management & Productivity Coaching</h1>

<section class="paralax-image-office">
</section>

<main class="office-main">
    <article>
        <p>
            Are you fulfilling all your professional obligations? Do you also have the time to finish your personal
            errands? Do you have time for fun as well?
        </p>
        <p>
            Are you satisfied at the end of the day - or are you exhausted knowing you wanted to get more things
            done but you ran out of time?
        </p>
        <p>
            If not, you might benefit from some support in managing your schedule . It is possible to be on top of
            things - getting the right things done by designing a system. A time management system that is made for
            YOU to be successful!
        </p>
    </article>
</main>

{{ end }}
