{{ define "main"}}

<h1 class="documents-tag">Testimonials</h1>

<section class="paralax-image-testimonials">
</section>

<main class="documents-main">
    <article>
        <blockquote class="brooks">
            Laura has brought great energy and inspiration to organizing our home. She takes the time to listen and understand our needs, while helping to break down steps into manageable tasks that otherwise seem overwhelming.
            She also respectfully challenges us to consider how we set up our space to optimize functionality and aesthetics. Laura is a voice of reason reminding us to consider if what we have is what we need (or even really want!) I feel like we have had more progress in two days than we have had all summer! So thankful that she has shared her expertise and passion in creating a new space that we love! <br>
            - Sonia, HR professional
        </blockquote>
        <blockquote class="brooks">
            I have been able to live in a cluttered environment for a long time. It worked for me - although I know it didn’t look that great. But when my wife and I joined homes - we found having Laura come in and work with us very helpful. Using her methodology to help organize our home was nothing short of amazing. In a short period of time, we looked at our stuff to identify the things that have purpose and meaning for us. In short, we found places for things that we didn’t think had a place in our new home. Working with Laura over a few days has been transformational in our home and lives. Also, her enthusiasm  and joy of organization is a real benefit and infectious. She is someone who truly enjoys helping people find order and organization in their lives. She is fantastic and I could not recommend her more!! <br>
            - Seth R., Actor
        </blockquote>
    </article>
</main>

{{ end }}