<header>
    <div class="logo">
        <a href="/index.html">
            <img src="/images/OrganizedVanvouver_Icon.png" alt="Organized Vancouver logo">
        </a>
    </div>
    <div class="navbar">
        <ul>
            <li class="dropdown" style="float:right">
                Professional Organizing Services
                <ul>
                    <li class="dropdown-content" style="right: -2px; margin: 0; padding: 0;">
                        <a href="/homeorg">Home Organizing</a>
                        <a href="/office">Office Organizing</a>
                        <a href="/time-management">Time Management</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown" style="float:left">
                About Me
                <ul>
                    <li class="dropdown-content-about-me" style="left: -2px; margin: 0; padding: 0;">
                        <a href="/aboutme">Meet Laura</a>
                        <a href="/testimonials">Testimonials</a>
                        <a href="#">Gallery (Currently being organized)</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown" style="float:left">
                <a href="/blog">Ideas and Inspiration</a>
            </li>
            <li ><a href="tel:604-612-6486">Contact Us<br>
                604-612-6486</a>
            </li>
        </ul>
    </div>
    <div class="phone-number-mobile">
        <a href="tel:604-612-6486">Contact Us<br>
            604-612-6486</a>
    </div>
    <div class="hamburguer-menu">
        <button onclick="myFunction()" class="dropbtn">
            <img src="/images/menu-three-horizontal-lines-symbol.png">
        </button>
        <div id="myDropdown" class="dropdown-content-mobile">
            <a href="/homeorg">Home Organizing</a>
            <a href="/office">Office Organizing</a>
            <a href="/time-management">Time Management</a>
            <a href="/aboutme">Meet Laura</a>
            <a href="/testimonials">Testimonials</a>
            <a href="#">Gallery (Coming Soon)</a>
            <a href="/blog">Ideas and Inspiration</a>
        </div>
    </div>

</header>
