<footer>
    <div class="footer-block-1">
        <div>
            <h1>Follow Me:</h1>
            <ul>
                <li><a href="#"><img src="/images/001-facebook-logo.png" alt="facebook icon"></a></li>
                <li><a href="https://www.instagram.com/organizedvancouver/">
                    <img src="/images/002-instagram-social-network-logo-of-photo-camera.png" alt="instagram icon"></a></li>
            </ul>
        </div>

        <div class="contact-info">
            <h1>Contact:</h1>
            <ul>
                <li>
                    <p><a href="mailto:info@organizedvancouver.com">info@organizedvancouver.com</a></p>
                </li>
                <li>
                    <p><a href="tel:604-612-6486">604-612-6486</a></p>
                </li>
            </ul>
        </div>

        <div class="member-of">
            <h1>Member of:</h1>
            <img src="/images/POC_logo_colour_for_print.jpg" alt="professional organizers canada logo">
        </div>
    </div>
    <ul class="map-site">
        <li>Professional Organizing Services
            <ul>
                <li><a href="home-organization-services">Home Organizing</a></li>
                <li><a href="office-organization-services">Office Organizing</a></li>
                <li><a href="time-organization-services">Time Management</a></li>
            </ul>
        </li>
        <li>About Me
            <ul>
                <li><a href="about-professional-organizer">Meet Laura</a></li>
                <li><a href="testimonials">Testimonials</a></li>
                <li><a href="#">Gallery</a></li>
            </ul>
        </li>
        <li><a href="blog">Ideas and Inspiration</a></li>
    </ul>
    <div class="copyright">
        <p>2018 &copy; Organized Vancouver</p>
    </div>
</footer>