<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Organized Vancouver</title>
    <link rel="icon" type="image/png" href="images/Logo-copy.png" />
    <link rel="stylesheet" href="css/style.css">
    <script src="js/js.js"></script>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <!--TODO: Add map site (xml file in root folder) -->
</head>
<body>

<header>
    <div class="logo">
        <a href="index.html">
            <img src="images/OrganizedVanvouver_Icon.png" alt="Organized Vancouver logo">
        </a>
    </div>
    <div class="navbar">
        <ul>
            <li class="dropdown" style="float:right">
                Professional Organizing Services
                <ul>
                    <li class="dropdown-content" style="right: -2px; margin: 0; padding: 0;">
                        <a href="homeorg.html">Home Organizing</a>
                        <a href="office.html">Office Organizing</a>
                        <a href="time-management.html">Time Management</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown" style="float:left">
                About Me
                <ul>
                    <li class="dropdown-content-about-me" style="left: -2px; margin: 0; padding: 0;">
                        <a href="aboutme.html">Meet Laura</a>
                        <a href="testimonials.html">Testimonials</a>
                        <a href="#">Gallery (Currently being organized)</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown" style="float:left">
                <a href="wardrobe.html">Ideas and Inspiration</a>
            </li>
            <li ><a href="tel:604-612-6486">Contact Us<br>
                604-612-6486</a>
            </li>
        </ul>
    </div>
    <div class="phone-number-mobile">
        <a href="tel:604-612-6486">Contact Us<br>
            604-612-6486</a>
    </div>
    <div class="hamburguer-menu">
        <button onclick="myFunction()" class="dropbtn">
            <img src="images/menu-three-horizontal-lines-symbol.png">
        </button>
        <div id="myDropdown" class="dropdown-content-mobile">
            <a href="homeorg.html">Home Organizing</a>
            <a href="office.html">Office Organizing</a>
            <a href="time-management.html">Time Management</a>
            <a href="aboutme.html">Meet Laura</a>
            <a href="testimonials.html">Testimonials</a>
            <a href="#">Gallery (Coming Soon)</a>
            <a href="wardrobe.html">Ideas and Inspiration</a>
        </div>
    </div>

</header>

<section class="paralax-image">
    <h1>ORGANIZED VANCOUVER</h1>
    <p>Orderly spaces with function & style</p>
    <p> home & office</p>
</section>

<main>
    <div>
        <a href="homeorg.html">
            <div class="service-image">
                <div class="bg home"></div>
                <p>Home Organizing</p>
            </div>
        </a>
        <div class="description-box">
            We will help you to declutter and organize any area of your home. We can inspire you with ideas on
            habits that will help you maintain the newly organized spaces.
        </div>
    </div>
    <div>
        <a href="office.html">
            <div class="service-image">
                <div class="bg office"></div>
                <p>Office Organizing</p>
            </div>
        </a>
        <div class="description-box">
            Create a small office or home office that helps you get things done. The office is often the first
            place things get out of control. With a proper space design and information management system, you can
            be sure you will get things done.
        </div>
    </div>
    <div>
        <a href="time-management.html">
            <div class="service-image">
                <div class="bg document"></div>
                <p>Time Management</p>
            </div>
        </a>
        <div class="description-box">
            Prepare for success! We have expertise in balancing life with demands of the corporate world. Let us
            coach you to manage your time and help you get the right things done.
        </div>
    </div>
</main>

<section class="about-main">
    <article>
        <h1>About</h1>
        <p>
            At Organized Vancouver, we are passionate about creating orderly spaces.  We specialize in creating both
            functional and beautiful systems. Whether you need to get a better handle on your living spaces including
            your entryway, kitchen, pantry, closets, wardrobe, home office, kids’ rooms or garage and storage areas.
            It might surprise you but we love to help to get homes and spaces in order!
        </p>
        <p>
            We will help you set organization priorities. We will organize your home or office either together with
            you or our organizers can do the organizing based on your guidelines. Our aim is to help you have a space
            that is both beautiful and functional (find your things when you need them).
        </p>
        <p>
            Whether you have a corporate career or work from home, we have the expertise to customize efficient and
            easy to follow methods for information management, filing systems and time management. We want to see you
            shine in your life and at work because you can get things done and you can show up as the best you.
        </p>
        <p>
            We guarantee your confidentiality.
        </p>
        <p>
            Contact us <a href="mailto:info@organizedvancouver.com">info@organizedvancouver.com</a> today for a complimentary consultation.
        </p>
    </article>
</section>
<footer>
    <div class="footer-block-1">
        <div>
            <h1>Follow Me:</h1>
            <ul>
                <li><a href="#"><img src="images/001-facebook-logo.png" alt="facebook icon"></a></li>
                <li><a href="https://www.instagram.com/organizedvancouver/">
                    <img src="images/002-instagram-social-network-logo-of-photo-camera.png" alt="instagram icon"></a></li>
            </ul>
        </div>

        <div class="contact-info">
            <h1>Contact:</h1>
            <ul>
                <li>
                    <p><a href="mailto:info@organizedvancouver.com">info@organizedvancouver.com</a></p>
                </li>
                <li>
                    <p><a href="tel:604-612-6486">604-612-6486</a></p>
                </li>
            </ul>
        </div>

        <div class="member-of">
            <h1>Member of:</h1>
            <img src="images/POC_logo_colour_for_print.jpg" alt="professional organizers canada logo">
        </div>
    </div>
    <ul class="map-site">
        <li>Professional Organizing Services
            <ul>
                <li><a href="homeorg.html">Home Organizing</a></li>
                <li><a href="office.html">Office Organizing</a></li>
                <li><a href="time-management.html">Time Management</a></li>
            </ul>
        </li>
        <li>About Me
            <ul>
                <li><a href="aboutme.html">Meet Laura</a></li>
                <li><a href="testimonials.html">Testimonials</a></li>
                <li><a href="#">Gallery</a></li>
            </ul>
        </li>
        <li><a href="wardrobe.html">Ideas and Inspiration</a></li>
    </ul>
    <div class="copyright">
        <p>2018 &copy; Organized Vancouver</p>
    </div>
</footer>
</body>
</html>