{{ define "main" }}

<section class="paralax-image">
    <h1>Organized Vancouver | Professional & Personal Organizer </h1>
    <p>Orderly spaces with function & style</p>
    <p> home & office</p>
</section>

<main>
    <div>
        <a href="/home-organization-services">
            <div class="service-image">
                <div class="bg home"></div>
                <p>Home Organizing</p>
            </div>
        </a>
        <div class="description-box">
           We will help you to declutter and organize any area of your home and help you learn new habits to stay organized.
        </div>
    </div>
    <div>
        <a href="/office-organization-services">
            <div class="service-image">
                <div class="bg office"></div>
                <p>Office Organizing</p>
            </div>
        </a>
        <div class="description-box">
            Create a small office or home office that helps you get things done. An orderly office is the foundation
            of an effective professional. With proper spacial design and a system for managing information, you can
            be sure you will be more productive.
        </div>
    </div>
    <div>
        <a href="/time-organization-services">
            <div class="service-image">
                <div class="bg document"></div>
                <p>Time Management</p>
            </div>
        </a>
        <div class="description-box">
            Prepare for success! We have expertise in balancing demands of the corporate world with a rewarding life. Let us
            coach you to identify your personal priorities, manage your time and help you get the right things done.
        </div>
    </div>
</main>

<section class="about-main">
    <article>
        <h1>About Organized Vancouver</h1>
        <p>
            At Organized Vancouver, we are passionate about creating orderly spaces and orderly lives. We specialize in 
            creating both functional and beautiful systems. Whether you need to get a better handle on your living spaces, 
            workspaces, or your time and productivity, we get a thrill when we help others make these changes.
        </p>
        <p>
            We will help you set priorities for your organization projects. We will organize your home or office either
            together with you or our organizers can do the work based on your guidelines. Our aim is to help you 
            create a space that is both beautiful and functional. 
        </p>
        <p>
            Whether you have a corporate career or work from home, we have the expertise to customize efficient and
            easy to follow methods for information management, filing systems and time management. We want to see you
            shine in your home life and at work - allowing you to focus on the things you love to do.
        </p>
        <p>
            Reimagine your living spaces
            with ideas, upgrades and improvements that will amaze you. 
        </p>
        <p> 
            We guarantee your confidentiality.
        </p>
        <p>
            Contact us <a href="mailto:info@organizedvancouver.com">info@organizedvancouver.com</a> today for a
            complimentary consultation.
        </p>
    </article>
</section>
{{ end }}
