{{ define "main" }}

<section class="paralax-image">
    <h1>ORGANIZED VANCOUVER</h1>
    <p>Orderly spaces with function & style</p>
    <p> home & office</p>
</section>

<main>
    <div>
        <a href="/homeorg">
            <div class="service-image">
                <div class="bg home"></div>
                <p>Home Organizing</p>
            </div>
        </a>
        <div class="description-box">
           We will help you declutter and organize your home or office. Reimagine your living and working spaces
           with ideas, upgrades and improvements that will amaze you.
        </div>
    </div>
    <div>
        <a href="/office">
            <div class="service-image">
                <div class="bg office"></div>
                <p>Office Organizing</p>
            </div>
        </a>
        <div class="description-box">
            Create a small office or home office that helps you get things done. The office can easily get
            out of control. With proper space design and information management system, you can
            be sure you will be more productive.
        </div>
    </div>
    <div>
        <a href="/time-management">
            <div class="service-image">
                <div class="bg document"></div>
                <p>Time Management</p>
            </div>
        </a>
        <div class="description-box">
            Prepare for success! We have expertise in balancing demands of the corporate world with a rich life. Let us
            coach you to identify your priorities, manage your time and help you get the right things done.
        </div>
    </div>
</main>

<section class="about-main">
    <article>
        <h1>About</h1>
        <p>
            At Organized Vancouver, we are passionate about creating orderly spaces. We specialize in creating both
            functional and beautiful systems. Whether you need to get a better handle on your living spaces including
            your entryway, kitchen, pantry, closets, wardrobe, home office, kids’ rooms or garage and storage areas.
            We are truly passionate about helping you to get home and workspaces in order!
        </p>
        <p>
            We will help you set organization priorities. We will organize your home or office either together with
            you or our organizers can do the organizing based on your guidelines. Our aim is to help you have a space
            that is both beautiful and functional (find your things when you need them).
        </p>
        <p>
            Whether you have a corporate career or work from home, we have the expertise to customize efficient and
            easy to follow methods for information management, filing systems and time management. We want to see you
            shine in your home life and at work - allowing you to focus on the things you love to do.
        </p>
        <p>
            We guarantee your confidentiality.
        </p>
        <p>
            Contact us <a href="mailto:info@organizedvancouver.com">info@organizedvancouver.com</a> today for a
            complimentary consultation.
        </p>
    </article>
</section>
{{ end }}
