{{ define "main" }}

<h1 class="documents-tag">Office Organization Services</h1>

<section class="paralax-image-documents">
</section>

<main class="documents-main">
    <article>
        <p>
            Create a small office or home office that helps you get things done.  A big part of ensuring an office
            stays organized is having appropriate paper and electronic document storage and processing systems.
            Your system should help you know what needs to be done and have a reference file for important documents
            and meeting notes. Create a secure physical or digital system where you can find the right information
            right away!
        </p>
        <p>
            In our on-site consultation, we will deliver office solutions specific for you, including:
        </p>
        <ul>
            <li>Set up and design for small office or home office</li>
            <li>Appropriate and appealing storage solutions</li>
            <li>Filing paper and electronic information</li>
            <li>Coaching to maximize productivity in and out of the office</li>
        </ul>
        <br>
        <p>
            Learn more about our <a href="../home-organization-services">home organization</a>
            and <a href="../time-organization-services">time management</a> services. <br>
            Contact us at <a href="mailto:info@organizedvancouver.com">info@organizedvancouver.com</a> today for a complimentary consultation.
        </p>
    </article>
</main>

{{ end }}